** Objective:** Clean and transform a dataset to prepare it for analysis

In [3]:
# import requried libraries
import pandas as pd

# load the data
data_2_1 = pd.read_csv('Datasets/MMDS_c02_Data/data_cleaning_transformation.csv')

Task 1
Handle missing values (NaN) in the data "data_cleaning_transformation.csv" dataset

In [10]:
# Filling Missing 'Age' Values:
mean_age = data_2_1['Age'].mean()
data_2_1['Age'].fillna(mean_age, inplace = True)

C:\Users\Alice\AppData\Local\Temp\ipykernel_40768\2778447020.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2_1['Age'].fillna(mean_age, inplace = True)

In [11]:
# Filling Missing 'Monthly Spend' Value:
median_monthly_spend = data_2_1['Monthly Spend ($)'].median()
data_2_1['Monthly Spend ($)'].fillna(median_monthly_spend, inplace = True)

C:\Users\Alice\AppData\Local\Temp\ipykernel_40768\1145733347.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2_1['Monthly Spend ($)'].fillna(median_monthly_spend, inplace = True)

In [12]:
# Filling Missing 'Feedback Score' Values
mode_feedback = data_2_1['Feedback Score'].mode()[0]
data_2_1['Feedback Score'].fillna(mode_feedback, inplace=True)

C:\Users\Alice\AppData\Local\Temp\ipykernel_40768\3776177789.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_2_1['Feedback Score'].fillna(mode_feedback, inplace=True)

Task 2 
Convert the 'Last Login Date' from a strong in datetime object.

In [13]:
# Converting 'Last Login Date' to Datetime
data_2_1['Last Login Date'] = pd.to_datetime(data_2_1['Last Login Date'])

Task 3
Create a new feature, 'Monthly Spend per Day', by divding 'Monthly Spend' by 'Subscription Length'

In [15]:
# Create New Feature: 'Monthly Spend per Day'
data_2_1['Monthly Spend per Day'] = data_2_1['Monthly Spend ($)'] / data_2_1['Subscription Length (days)']

In [16]:
data_2_1.head()

,Customer ID,Age,Subscription Length (days),Monthly Spend ($),Last Login Date,Feedback Score,Monthly Spend per Day
0,1,62.000000,260,112.885600,2022-01-01,5.0,0.434175
1,2,42.951111,180,288.359067,2022-01-02,5.0,1.601995
2,3,18.000000,60,72.973879,2022-01-03,1.0,1.216231
3,4,21.000000,285,199.070996,2022-01-04,3.0,0.698495
4,5,21.000000,49,194.146829,2022-01-05,5.0,3.962180

changes